<div class="row" id="new-list">
	<div class="col s12  center">
			<h2 class="modal-title center-align uppercase">CREATE A LIST</h2>
			<div class="forms">
				<%= render 'lists/forms/form' %>
			</div>
	</div>
</div>
