<div class="user" id="user-new">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m9"><h1>Create new Team</h1></div>
            <div class="col s12 m3"><i class="material-icons large">portrait</i></div>
          </div>
        </div>
        <div class="card-content">
          <%= render 'form' %>
        </div>
        <div class="card-action">
          <div class="row center-align">
            <div class="col s12 m4">
              <%= link_to 'Back', '/' %>
            </div>
            <div class="col s12 m4">

            </div>
            <div class="col s12 m4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
