<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <p style="font-family: Verdana, Geneva, sans-serif; color:#55C2B9; font-size:24px; width:100%;text-align:center;letter-spacing: .6px;">Password reset</p></br>
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:16px; line-height:25px;letter-spacing: .6px;">
          You told us you forgot your password. If you really did, click the link below to choose a new one:</br>
        </font></td>
      <td width="10%">&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="10%">&nbsp;</td>
      <td style="text-align:center;">
        <font style="font-family: Verdana, Geneva, sans-serif; color:#ffffff; font-size:14px">  <%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                              email: @user.email, host: "demo-sessionsapp.herokuapp.com"),:class => "ms-email-button"  %></font>
                                                              <!-- host: "demo-sessionsapp.herokuapp.com" -->
                                                              <!-- localhost:3000 -->
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:13px; line-height:21px;letter-spacing: .6px;">This link will expire in two hours. If you didn't mean to reset your password, then you can just ignore this email; your password will not change.</br>
        </font></td>
      <td width="10%">&nbsp;</td>
    </tr>
  </table>
