<h1>Welcome to Sessions!</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>The administrator for <%= @user.team.team_name %> created an account for you!</p>
<p>Your temporary password is: <%= @temp_password%></p>
<p>Click on the link below to activate your account!</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
