<% if !user.image_url.blank? %>
	 <%= image_tag(user.image_url(:thumb), class: 'circle', alt: "#{user.first_name}", title:"#{user.first_name}") %>
<% else %>
	 <span class="user-initial circle"><%= initials(user.id) %></span>
<% end %>
