<!-- Notifications  -->
<h3 class="text-green">Edit your Notifications</h3>
<div class="divider"></div>
<%= render partial: "users/notification_layout/notification_setting"%>
<div class="divider"></div>
