<div class="row">
	<div class="col s12  center">
			<h2 class="modal-title center-align uppercase">NOTIFICATIONS</h2>
  </div>
</div>
<div class="row">
	<div class="col s12  center">
			<%= render partial: "users/notification_layout/notification_setting"%>
	</div>
</div>
