<div class="row">
	<div class="col s12  center">
			<h2 class="modal-title center-align uppercase">PROFILE SETTINGS</h2>
  </div>
</div>
<div class="row">
	<div class="col s12  center">
			<div class="form">
				<%= render 'users/settings/form_settings' %>
			</div>
	</div>
</div>
