<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <p style="font-family: Verdana, Geneva, sans-serif; color:#55C2B9; font-size:24px; width:100%;text-align:center;letter-spacing: .6px;">Welcome to Sessions</p></br>
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:16px; font-weight:400;letter-spacing: .6px;">Hi <em><%= @invitation.recipient_email %>,</em></font><br /><br />
        <font style="font-family: Verdana, Geneva, sans-serif; color:#636363; font-size:13px; line-height:25px;letter-spacing: .6px;">
          <%= @sender.first_name %> invited you to join the List "<%= @list.name %>." Click on the link below to access to the list:</br>
        </font></td>
      <td width="10%">&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <td width="10%">&nbsp;</td>
      <td >
         <td >&nbsp;</td>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="10%">&nbsp;</td>
      <td style="text-align:center;">
        <font style="font-family: Verdana, Geneva, sans-serif; color:#ffffff; font-size:14px">  <%= link_to "Activate", @url,:class => "ms-email-button"  %></font>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
