<%= content_tag :div, class: "week-days", data: {"date": i} do%>
  <span><%= (i==0)? "Today" : date.strftime("%A")%></span><i class="material-icons md-18 ms-open-button">keyboard_arrow_right</i>
<% end %>
