<% if object.errors.any? %>
    <div id="error_explanation" class="ms-alert ms-alert_error left-align alert-dismissible">
        <ul>
           <% object.errors.messages.each do |key,value| %>
            <li><%= "#{key}: #{value[0]} "%>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="close_error(this);">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          <% end %>
        </ul>
    </div>
<% end %>
