
<p>New table </p>
<table>
        <thead>
          <tr>
              <th></th>
              <% NotificationOption.find_each do |notification_option| %>
                  <th><%= notification_option.name %></th>
              <% end %>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "notification_setting_tr", collection: @notification, as: :notification_type %>
        </tbody>
  </table>
