$(document).on('turbolinks:load',function(){
  // $('#datepicker2').on('change',function(){
    // alert('datepicker2');

  $('#narrowSearch').on('click', function(){
    var selectedUsers = $('select#searchByUser').val();
    // alert(selectedUsers);

    var dateTypeVar = $('input#datepicker').datepicker('getDate');
    var dateTypeVarTwo = $('#datepicker2').datepicker('getDate');
    $.ajax({
      url: 'sessions/' + 'cleanDate',
      type: 'POST',
      dataType: 'json',
      data: {'dateTypeVar': dateTypeVar, 'dateTypeVarTwo': dateTypeVarTwo, 'selectedUsers': selectedUsers},
      success: function(data, textStatus) {
        // alert(data);
        if (data != ""){
          $('tbody').html("");
          for (i=0;i<data.length;i++){
            var id = data[i].id;
            var date = data[i].created_at;
            var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
            var clean_date = new Date(date);
            var n = new Date(clean_date).getDay();
            var dayOfWeek = weekday[n];
            var m = new Date(clean_date).getMonth();
            var monthIs = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            var month = monthIs[m];
            var dayOfMonth = new Date(clean_date).getDate();
            var html = '<tr>';
            html += '<td>';
            html += '<img height="15" src="/assets/wip-5b4657932e2940c3bed7f403256b308a9b8a2034765b544e0b64ca428b7f3845.png" alt="Wip">';
            html += '</td>';
            html += '<td>';
            html += '<a href="/sessions/' + id + '">' + dayOfWeek + ' STAND-UP' + '</a>';
            html += '</td>';
            html += '<td>';
            html += '<a href="/sessions/' + id + '">' + month + ' ' + dayOfMonth + '</a>';
            html += '</td>';
            html += '<td>';
            html += '<a data-confirm="Delete this session?" rel="nofollow" data-method="delete" href="/sessions/' + id + '">';
            html += '<i class="small material-icons">delete</i>';
            html += '</a>';
            html += '</td>';
            html += '</tr>';
            $('tbody').append(html);
          }
        }
      }
    });
  });

  $('textarea').focus(function() {
    $(this).css("background-color","#e6ffff");
  }).blur(function() {
    $(this).css("background-color","white");
    $(this).height("39px");
    var content = $(this).val();
    var str = $(this).attr('name');
    var itemEdited = str.split("[")[0] + "s";
    var itemId = $(this).parents("li").attr("id");
    var sessionId = $('.session_tag').attr('id');

    $.ajax({
      url: sessionId + '/' + itemEdited +'/' + itemId + '/update',
      type: 'POST',
      dataType: 'json',
      data: {'itemId': itemId, 'sessionId': sessionId, 'content': content}
      // success: function(){
      //   alert (itemEdited + ' was updated');
      // }
    });
  });

  $('td.delete').click(function(){
    var sessionId = $('tr').attr('data');

    $.ajax({
      url: 'sessions' + '/' + 'deleteSession' + '/' + sessionId,
      type: 'POST',
      dataType: 'json',
      data: {'sessionId': sessionId},
      success: function(data, textStatus){
        if ( data != ""){

          $('tbody').html("");
          for (i=0;i<data.length;i++){
            var id = data[i].id;
            var date = data[i].created_at;
            var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
            var clean_date = new Date(date);
            var n = new Date(clean_date).getDay();
            var dayOfWeek = weekday[n];
            var m = new Date(clean_date).getMonth();
            var monthIs = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            var month = monthIs[m];
            var dayOfMonth = new Date(clean_date).getDate();
            var html = '<tr>';
            html += '<td>';
            html += '<img height="15" src="/assets/wip-5b4657932e2940c3bed7f403256b308a9b8a2034765b544e0b64ca428b7f3845.png" alt="Wip">';
            html += '</td>';
            html += '<td>';
            html += '<a href="/sessions/' + id + '">' + dayOfWeek + ' STAND-UP' + '</a>';
            html += '</td>';
            html += '<td>';
            html += '<a href="/sessions/' + id + '">' + month + ' ' + dayOfMonth + '</a>';
            html += '</td>';
            html += '<td>';
            html += '<a data-confirm="Delete this session?" rel="nofollow" data-method="delete" href="/sessions/' + id + '">';
            html += '<i class="small material-icons">delete</i>';
            html += '</a>';
            html += '</td>';
            html += '</tr>';
            $('tbody').append(html);
          }
        }
      }
    });
  });

  $('.removeUser').on('click', function(){

    var selectedUser = $(this).closest('div');
    var sessionUser = $(this).closest('div').attr('data');
    var splitSessionUser = sessionUser.split(" ");
    var sessionId = splitSessionUser[0];
    var userId = splitSessionUser[1];
    $(selectedUser).fadeOut();
    $.ajax({
      url: '/' + 'sessions' + '/' + sessionId + '/' + 'removeUser',
      type: 'POST',
      dataType: 'json',
      data: {'sessionId': sessionId, 'userId':userId}
    });
  });

  $('#addUser').on('click', function(){
    var userIds = $('select#addUserToSession').val();
    var sessionId = $('div.session_tag').attr('id')
    $.ajax({
      url: '/sessions' + '/' + sessionId + '/' + 'addUser',
      type: 'POST',
      dataType: 'json',
      data: {'sessionId': sessionId, 'userIds': userIds},
      success: function(data){
        for (i=0;i<data.length;i++){
          var uI = data[i];
          var sessionId = uI['session_id']
          var userId = uI['userId'];
          var wipId = uI['wipId'];
          var completedId = uI['completedId'];
          var blockerId = uI['blockerId'];
          var userFirstName = uI['userFirstName'];
          var userLastName = uI['userLastName'];
          var html = '<div>';
          html += '<br>';
          html += '<div class="session_user" data="' + sessionId  + userId + '">';
          html += '<h6><a href="/users/' + userId + '/edit">' + userFirstName +' '+ userLastName + '</a></h6>';
          html += '<ul>';
          html += '<li>';
          html += '<table>';
          html += '<tbody>';
          html += '<tr>';
          html += '<a class="waves-effect waves-light su-btn btn-flat removeUser">Remove user</a><table>';
          html += '<tbody>';
          html += '<tr>';
          html += '<td>';
          html +=  '<ul>';
          html += '<li class="item_id" id="' + wipId + '"><form class="edit_wip" id="edit_wip_' + wipId + '" action="/wips/' + wipId + '" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">';
          html += '<div class="field">';
          html += '<img height="15" src="/assets/wip-5b4657932e2940c3bed7f403256b308a9b8a2034765b544e0b64ca428b7f3845.png" alt="Wip">'
          html += '<label for="wip_wip_item">Work in progress</label><br>';
          html += '<textarea name="wip[wip_item]" id="wip_wip_item"></textarea>';
          html += '</div>';
          html += '</form>';
          html += '</li>';
          html += '</ul>';
          html += '</td>';
          html += '<td>';
          html += '<ul>';
          html += '<li class="item_id" id="' + completedId + '"><form class="edit_completed" id="edit_completed_' + completedId + '" action="/completeds/' + completedId + '" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">';
          html += '<div class="field">';
          html += '<img height="15" src="/assets/completed-59ef21ba18d53154aeae7ef549594b0892e130ae8fbb2b2769883919378bfda0.png" alt="Completed">';
          html += '<label for="completed_completed">Completed</label><br>';
          html += '<textarea name="completed[completed]" id="completed_completed"></textarea>';
          html += '</div>';
          html += '</form></li>';
          html += '</ul>';
          html += '</td>';
          html += '<td>';
          html += '<ul>';
          html += '<li class="item_id" id="' + blockerId + '"><form class="edit_blocker" id="edit_blocker_' + blockerId + '" action="/blockers/' + blockerId + '" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">';
          html += '<div class="field">';
          html += '<img src="/assets/blocker-a47e0dfd3f97e1e20d756339e845b43f7b96500c7f221be822cc2e54bcbf2947.png" alt="Blocker" width="15" height="15">';
          html += '<label for="blocker_blocker">Blocker</label><br>';
          html += '<textarea name="blocker[blocker]" id="blocker_blocker"></textarea>';
          html += '</div>';
          html += '</form></li>';
          html += '</ul>';
          html += '</td>';
          html += '</tr>';
          html += '</tbody>';
          html += '</table>';
          html += '</li>';
          html += '</ul>';
          html += '</div>';
          $('div.card-content').append(html);
        }
      }
    });
  });

});
