  App.task = App.cable.subscriptions.create "TaskChannel",
    connected: ->
      # Called when the subscription is ready for use on the server

    disconnected: ->
      # Called when the subscription has been terminated by the server

    received: (data) ->
      # Called when there's incoming data on the websocket for this channel
      $pageContent = $('#page-content')
      $mainCenter = $('#main_center')
      html = data.html
      data = data.data

      $currentListMainCenter = $('#main_center > div ').data('list-id')

      $list = $('[data-list-id = "' + data.list_id + '"]', $pageContent)
      $user = $('[data-user-id = "' + data.user + '"]', $pageContent)

      $nav = $('[data-nav-id = "' + data.user + '"]')
      $listNav = $('[data-nav-list-id = "' + data.list_id + '"]', $nav)
      $listAllTaskNav = $('[data-nav-list-id = "' + data.list_all_task_id + '"]', $nav)

      if (data.status == 'changelist')
        $changeListMainCenter = $('[data-list-id = "' + data.list_change + '"]', $pageContent)
        $listChangeNav = $('[data-nav-list-id = "' + data.list_change + '"]', $nav)
        $listBeforeNav = $('[data-nav-list-id = "' + data.list_before + '"]', $nav)
        $beforeList = $('[data-list-id = "' + data.list_before+ '"]', $pageContent)
        $listAllTask = $('[data-list-id = "' + data.list_all_task_id + '"]', $pageContent)

      if (data.status == 'changeuser')
        # $incompleteUAfter = $('#incomplete_tasks_' + data.user )
        $navBefore = $('[data-nav-id = "' + data.user_before + '"]')
        $beforeUser = $('[data-user-id = "' + data.user_before + '"]', $pageContent)
        $listNavUAfter = $('[data-nav-list-id = "' + data.list_id + '"]', $nav)
        $listNavUBefore = $('[data-nav-list-id = "' + data.list_id+ '"]', $navBefore)
        $AllTaskUBefore = $('[data-nav-list-id = "' + data.list_all_task_before_id + '"]', $navBefore)

      $incomplete = $('#incomplete_tasks_' + data.user )
      $divCompleted = $('#complete_tasks_' + data.user)

      if data.blocker
        $task = $('[data-blocker-id = "' + data.id + '"]')
        $parent = $('[data-task-id = "' + data.parentId + '"]')
        $menuAddBlocker = $('a#link-blocker_' + data.parentId, $parent)
      else
        if (data.status == 'changeuser')
          $task = $('[data-task-id = "' + data.id + '"]', $beforeUser)
        else
          $task = $('[data-task-id = "' + data.id + '"]', $user)

      if $task.length > 0
        switch data.status
          when 'saved'
            $task.replaceWith html
            dropdown("#task_#{data['id']} .dropdown-button","false");
            $('.edit_task').submitOnCheck()
            deadlineDatepicker($('input.deadline-datepicker'));
            $('input.deadline-datepicker.hidden-datepicker').hover(handlerIn, handlerOut);
            $('.tooltipped').tooltip({delay: 50})
          when 'deleted'
            $("#task_"+ data.id + " #menu .tooltipped").tooltip('remove')
            $task.remove()
            if (data.num != '')
              $('.bar-number-task', $listNav).html data['num']
              $('.bar-number-task', $listAllTaskNav).html data['numAllTask']
            if (data.blocker) && (data.numBlockers == 0)
              $('i', $menuAddBlocker).removeClass('md-red').addClass('md-grey')
              $('i', $menuAddBlocker).attr("data-hasblockers","false")
              $menuAddBlocker.siblings('i').attr("data-hasblockers","false")
          when 'important'
            if (data.important)
              $('#menu >ul.menu-option li i#md-important', $task).removeClass('md-grey').addClass('md-jellow')
            else
              $('#menu >ul.menu-option li i#md-important', $task).removeClass('md-jellow').addClass('md-grey')
          when 'deletedeadline'
              $('ul.menu-information li.ms-deadline', $task).removeClass('active')
              $('#menu >ul.menu-option li i.i-btn-datepicker', $task).removeClass('md-red').addClass('md-grey')
              $('p#alternate', $task).html('')
          when 'deadline'
            if (data.deadline != "") || (data.deadline != "null")
              $('ul.menu-information li.ms-deadline', $task).addClass('active')
              if  $('#menu >ul.menu-option li i.i-btn-datepicker', $task).hasClass('md-grey')
                $('#menu >ul.menu-option li i.i-btn-datepicker', $task).removeClass('md-grey').addClass('md-red')
              $('p#alternate', $task).html(data.deadline)
          when 'changelist'
            $("#task_"+ data.id + " #menu .tooltipped").tooltip('remove')
            $('[data-user-id = "' + data.user + '"]',$changeListMainCenter).prepend html
            if !(data.list_change == data.list_all_task_id)
              task_change_list = $('[data-task-id = "' + data.id + '"]',$changeListMainCenter)
              $("ul.menu-information #list_name", task_change_list).html ''
            $tasklistMainCenter = $task.parents('[data-user-id = "' + data.user + '"]',$beforeList)
            if (data.list_all_task_id != $currentListMainCenter)
              $task.remove()
            else
              $task.replaceWith html
              dropdown("#task_#{data['id']} .dropdown-button","false");
              $task_all_task = $('[data-task-id = "' + data.id + '"]', $listAllTask)
              if ($("ul.menu-information #list_name", $task_all_task).length > 0)
                $("ul.menu-information #list_name", $task_all_task).html data['list_name']
              else
                listNamehtml = "<li><p id='list_name'>#{data["list_name"]}</p></li>"
                $("ul.menu-information", $task_all_task).prepend listNamehtml
              $('.edit_task').submitOnCheck()
            if (data['num'] != '')
              $('.bar-number-task', $listBeforeNav).html data["num"]
              $('.bar-number-task', $listChangeNav).html data["num_list_change"]
          when 'changeuser'
            $task.remove()
            $incomplete.prepend html
            $('.bar-number-task', $listNavUBefore).html data["num_task_list_u_before"]
            $('.bar-number-task', $listNavUAfter).html data["num_task_list_u_after"]
            $('.bar-number-task', $AllTaskUBefore).html data["num_task_alllist_u_before"]
            $('.bar-number-task', $listAllTaskNav).html data["num_task_alllist_u_after"]
          when 'completed'
            $("#task_"+ data.id + " #menu .tooltipped", $incomplete ).tooltip('remove')
            $task.remove()
            if ($('[data-date = "0"]', $divCompleted).length == 0)
               $divCompleted.prepend data["collapsible_date"]
            $insertCollapsible = $('[data-date = "0"]', $divCompleted).parent()
            $insertCompleted = $insertCollapsible.siblings(".collapsible-body")
            $insertCompleted.prepend(html)
            msCollapsible("collapsible");
            $('.tooltipped').tooltip({delay: 50})
            if ($('.divider', $user).hasClass('no-active'))
              $('.divider', $user).removeClass('no-active')
            if (data.num != '')
              $('.bar-number-task', $listNav).html data['num']
              $('.bar-number-task', $listAllTaskNav).html data['numAllTask']
            $('.edit_task').submitOnCheck()
          when 'incomplete'
            $("#task_"+ data.id + " #menu .tooltipped", $divCompleted ).tooltip('remove')
            $task.remove()
            $incomplete.prepend html
            dropdown("#task_#{data['id']} .dropdown-button","false");
            deadlineDatepicker($('input.deadline-datepicker'));
            $lineDate = $('[data-date = "'+ data.num_date+'"]', $divCompleted)
            if ((data['num_completed_tasks_date'] == 0) && ($lineDate.length != 0))
              $lineDate.remove()
            if (data.num != '')
              $('.bar-number-task', $listNav).html data['num']
              $('.bar-number-task', $listAllTaskNav).html data['numAllTask']
            $('.edit_task').submitOnCheck()

        deadlineDatepicker($('input.deadline-datepicker',$list ))
      else
        if data['blocker']
            $t_blockers = $("#show_blockers_#{data['parentId']}")
            $t_blockers.prepend html
            $('.tooltipped').tooltip({delay: 50})
            if !($('i',$menuAddBlocker).hasClass('md-red'))
              $('i',$menuAddBlocker).addClass('md-red')
              $('i',$menuAddBlocker).removeClass('md-grey')
            $('i[data-hasblockers]',$menuAddBlocker).attr("data-hasblockers","true")
            $menuAddBlocker.siblings('i[data-hasblockers]').attr("data-hasblockers","true")
            $('.edit_task').submitOnCheck()
        else
          $incomplete.prepend html
          $("#list_user_#{data['user']} .new_task input#task_detail").val('');
          if (data.num != '')
            $('.bar-number-task', $listNav).html data['num']
            $('.bar-number-task', $listAllTaskNav).html data['numAllTask']
          deadlineDatepicker($('input.deadline-datepicker'));
          dropdown("#task_#{data['id']} .dropdown-button","false");
          $('.tooltipped').tooltip({delay: 50})
          $('.edit_task').submitOnCheck()
