#edit_option {
  float: left;
}

#list h5 {
  margin: 1rem 0 1rem!important;
  font-size: 1.3rem!important;
}

form.edit_list .input-field{
  margin-top: 0rem;
}

form.edit_list .select-wrapper input.select-dropdown{
  height: 2.5rem;
  line-height: 2.5rem;
}

#application-date .datepicker{
  border-bottom: none;
  font-size: 13px;
}

.secondary-content {
    color: #9e9e9e!important;
}

.invitation-user-settings li{
   padding: 10px 0 0;
   font-size: 14px;
}

.invitation-user-settings li p{
  margin-right: 60px;
  line-height: 20px;
  margin-bottom: 0;
}

.invitation-user-settings li ul.menu-option{
  // width: 60px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

.invitation-user-settings li ul.menu-option i{
  font-size: 18px;
}

.invitation-user-settings li ul.menu-option a:hover i.material-icons{
  color: #55C2B9 !important;
}

form.edit_list ul.dropdown-content li{
  min-height: 1rem;
  line-height: 1rem;
}

form.edit_list .dropdown-content li > a, form.edit_list .dropdown-content li > span{
  line-height: 1rem;
  padding: 12px 10px;
}


ul.invited_users li {
  // padding: 0px 4px 0px!important;
  display: inline-block;
  float: left;
}

p.label {
  font-size: 0.8rem;
  padding-top: 0.8rem;
}

.users-search input {
  width: 100%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
}

.users-search input:focus {
  border-color: #A5CEF5;
}
.users-search .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.users-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 4.7em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 3.5em;
}
.users-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

.users-search .results .ui-menu-item .img {
  position: absolute;
  width: 3em;
  height: 3em;
  top: .4em;
  left: .5em;
  overflow: hidden;
}

.users-search .results .ui-menu-item .img img {
  max-width: 100%;
}

.users-search .results .ui-menu-item .name {
  display: block;
  color: #555;
  text-transform: capitalize;
}

.users-search .results .ui-menu-item .email {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.users-search .results .ui-state-focus .email,
.users-search .results .ui-state-focus .name {
  color: #08c;
  background-color: none;
}

.app-cont{
  width: 500px;
  margin: 0 auto;
}

.ui-autocomplete .ui-state-active,
.ui-autocomplete .ui-widget-content .ui-state-active{
   border: none;
   background: none;
}

#users-search-results ul li.ui-menu-item:hover{
  background: #ddd;
}

// LIST SETTINGS

// list of remember
.list-settings-collection{
  border:none;
}

.list-settings-collection.collection .collection-item{
  padding: 10px 0;
  line-height: 1rem;
  letter-spacing: .25px;
}

.collection.list-settings-collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection.list-settings-collection .collection-item.avatar :not(.circle-clipper) > .circle{
  width: 30px;
  height: 30px;
  left: 0;
}

.collection.list-settings-collection .collection-item.avatar .title,
.collection.list-settings-collection .collection-item .title{
  font-size: .8rem;
  color: #333333;
}

.collection.list-settings-collection .collection-item.avatar p,
.collection.list-settings-collection .collection-item .secondary-content span{
  color: #848994;
  font-size: .6rem;
  line-height: 10px;
}

.list-settings-collection.collection .collection-item.avatar{
  padding-left: 39px;
  min-height: 37px;
}

// END LIST OF MEMBERS
// list of pending invitations


.collection .collection-item.active {
  background: none;
}

.collection.list-settings-collection .collection-item:first-child {
  border-top: 1px solid #e0e0e0;
}

.collection.list-settings-collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.row #list_manage_invitation .col{
      padding: 0 0.2rem 0 0;
}



/* List of collaboration-users */

#collaboration-users img, .invited_user img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#collaboration-menu span svg{
  height: 15px;
  width: 15px;
}

// #collaboration-users .chip a:hover,
// .list-collaboration-users .chip a:hover i.add-user{
//   border: 1px solid #223042;
//   box-shadow: 0 2px 4px 0 rgba(44,49,52,0.21);
// }

// .list-collaboration-users .chip img {
//   margin: 0!important;
//   float: none;
// }

.list-collaboration-users li{
  background: none;
  padding: 0;
}

#collaboration-users {
  float: left;
}

#collaboration-users, #collaboration-menu {
  display: inline-block;
}

#collaboration-users a {
  background-color: #B2B3BF;

}
.list-collaboration-users li a {

  display: block;
  height: 100%;
}


#collaboration-users a,
#show_all_collaborators,
.list-collaboration-users #collaboration-users li,
#collaboration-menu li{
  height: 35px;
  width: 35px;
}


#collaboration-users span.user-initial{
  line-height: 35px;
  font-size: 14px;
  color: white;
  background:  #B2B3BF;
  display: block;
  position: relative;
}



#collaboration-users li.active:after {
    opacity:1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.list-collaboration-users #collaboration-users li,
#collaboration-menu li{
    float: left;
    display: inline-block;
}

.list-collaboration-users li:not(last-child){
      margin-right: 8px;
}

span.circle-icon {
  border-radius: 50%;
  height: 35px;
}

span.circle-icon svg,
span.circle-icon img {
  margin: 0 auto;
}



.list-collaboration-users a:hover > span.circle-icon .st0{
  fill: #223042;
}

.list-collaboration-users span.circle-icon{
  line-height: 34px;
  border: 0.5px solid #FFC4AC;
  background: #fff;
}

#collaboration-users a{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
  border-radius: 50%;
}

#collaboration-users li:after {
  opacity: 0;
  text-decoration: none;
  font-family: "Material Icons";
  content: "\E061 ";
  font-size: 6pt;
  line-height: 6pt;
  background-color: #fff;
  color: #77B44E;
  z-index: 1;
  border-radius: 50%;
  padding: 0;
  margin: -9px 7px;
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
