<% if model.errors.any? %>
    <div id="error_explanation" class="ms-alert ms-alert_error left-align alert-dismissible">
        <ul>
           <% model.errors.full_messages.each do |message| %>
            <li><%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          <% end %>
        </ul>
    </div>
<% end %>
