<div class="footer" >
    <div class="pull-right">

    </div>
    <!-- <div class="row center text-copyright">
        <strong>Copyright</strong> PICGlobal Inc &copy; 2016
    </div> -->
</div>
