<!-- Modal Structure -->
  <div id="ms-modal-dialog" class="modal">
    <div class="valign-wrapper" style="height:100%">
      <div class="modal-content">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right" data-remote="true">
  				<i class="material-icons">close</i>
  			</a>
         <%= yield %>
      </div>
		</div>
  </div>

  <!-- Modal Structure -->
  <!-- <div id="edit_task" class="modal" >
    <div class="valign-wrapper" style="height:100%">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">
				<i class="material-icons">close</i>
			</a>
			<div id="form" ></div>
		</div>
	</div> -->
