<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sessions Notification Email</title>
<style>
  .ms-email-button{color:#ffffff;background-color:#55C2B9;padding: 15px 90px;text-decoration: none;text-transform: uppercase;letter-spacing: 0.6px;}
</style>
</head>
<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td>
      <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td height="122" style="text-align:center;background-color:#222f42">
                   <img src="<%=image_url('sessions_logo.png', host: 'https://demo-sessionsapp.herokuapp.com')%>" width="167" height="55" border="0" alt="Sessiontodos"/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <%= yield %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #d3d3d5;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <!-- <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="13%" align="center">&nbsp;</td>
                <td width="14%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><a href= "http://yourlink" style="color:#848994; text-decoration:none"><strong>LOG IN </strong></a></font></td>
                <td width="2%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
                <td width="19%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><a href= "http://yourlink" style="color:#848994; text-decoration:none"><strong>RESET PASSWORD </strong></a></font></td>
                <td width="2%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
                <td width="12%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><a href= "http://yourlink" style="color:#848994; text-decoration:none"><strong>ABOUT US </strong></a></font></td>
                <td width="2%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
                <td width="13%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><a href= "http://yourlink" style="color:#848994; text-decoration:none"><strong>CONTACT </strong></a></font></td>
                <td width="2%" align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
                <td width="4%" align="right"><a href="https://www.facebook.com/" target="_blank"><img src="images/PROMO-GREEN2_09_01.jpg" alt="facebook" width="21" height="19" border="0" /></a></td>
                <td width="5%" align="center"><a href="https://twitter.com/" target="_blank"><img src="images/PROMO-GREEN2_09_02.jpg" alt="twitter" width="21" height="19" border="0" /></a></td>
                <td width="4%" align="right"><a href="http://www.linkedin.com/" target="_blank"><img src="images/PROMO-GREEN2_09_03.jpg" alt="linkedin" width="21" height="19" border="0" /></a></td>
                <td width="5%">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr> -->
        <tr>
          <td align="center"><font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:8px; line-height:16px;"><strong>Made by Prototypeit, Inc  | 350 Lincoln Rd Miami Beach, FL 33139 </strong></font><br/>
          <font style="font-family:Verdana, Geneva, sans-serif; color:#848994; font-size:8px"><strong>Tel: 305.418.9213 | <a href= "http://prototypeit.us" style="color:#848994; text-decoration:none">prototypeit.us</a></strong></font>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
