<!-- Popup Structure -->
<div id="popupcrop" class="">
  <div class="modal-content">
      <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right" >
				<i class="material-icons">close</i>
			</a> -->
       <%= yield %>
  </div>
</div>
